/*-------------
 	General
-------------*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4px;
	border-radius: 0px;
	padding-top: 3px;

	}
ul, nav{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}
a:hover{
	opacity: 1;
}
a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #c15497;
	font-weight: 800;
	text-align: center;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}
@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}
@media (max-width: 600px){
	section{
		padding: 80px 30px;
	}
}
section h3.title{
	color: #414a4f;
	font: bold 32px 'Myriad Pro', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img{
	/*max-width: 300px;
	max-height: 300px;*/
	}
/*###########*/
/*FONTS*/
/*###########*/
html *, span, p, a, li{
  font-family: 'Myriad Pro', sans-serif;
}
h1 , h2, h3, h4, h5{
  font-family: 'Croissant One', cursive;
}
h1 a, h3, h6, h6 *,.label {
  font-family: 'Track', sans-serif;
}

/*###########*/
/*BACKGROUND FAT*/
/*###########*/
body {
	background-color: #e4c9bc;
}


/*----------------------
 	Accueil Presentation Section
----------------------*/

.accueil-tiles{
	background-color: #dcdcdc;
}
#accueil-tiles-qui,
#accueil-tiles-quoi,
#accueil-tiles-ou
{
    padding:0;
}
#accueil-tiles-qui
{
	background-color: #e2b0d1;
}
#accueil-tiles-quoi
{
	background-color: #e4c9bc;
}
#accueil-tiles-ou
{
	background-color: #deac94;
}

.accueil-tiles .grid li{
	padding: 0 ;
	flex-basis: 40%;
	text-align: center;
}

.accueil-tiles .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.accueil-tiles .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.accueil-tiles .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.accueil-tiles .grid li:last-child{
		margin-bottom: 0;
	}
}
@media (max-width: 800px){

	.accueil-tiles .grid li{
		flex-basis: 100%;
	}

}

/*--------------------
 	Animation div
---------------------*/
.gif {
    background-color: #e2b0d1
    display:flex;
}
.gif img {
     border: 3px solid #dcdcdc;
     width: 100%;
     flex:1;
     flex-shrink: 1;
     overflow:hidden;
}
@media (max-width: 800px){
 .gif {
		display:none;
	}
 }


/*--------------------
 	Accueil Infos Principales Section
---------------------*/

.vie-association{
	background-color: #e4c9bc;
}

.vie-association ul {
	padding-top:30px;
    padding-bottom:30px;
 }

.vie-association .grid li{
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #e4c9bc;
}
/*pour l'instant, .grid li .grid li h4 et .grid li p en css identique à la classe accueil :*/
.vie-association  .grid li{
	text-align: center;
    min-height:200px;
}
.vie-association  .grid li h4{
	color: #555;
    margin-bottom: 25px;
}
.vie-association  .grid li p{
    margin: 0;
}
.vie-association .grid li.third{
	flex-basis: 33%;
}
.vie-association .grid li.small{
	flex-basis: 40%;
}
.vie-association .grid li.medium{
	flex-basis: 50%;
}
.vie-association .grid li.large{
	flex-basis: 60%;
}
.vie-association .grid li.full{
	flex-basis: 100%;

}
 #map
  {

	}

@media (max-width: 1000px){

	.vie-association .grid li.small,
    .vie-association .grid li.third,
    .vie-association .grid li.medium,
	.vie-association .grid li.large{
		flex-basis: 100%;
        flex-shrink: 1;
	}

}

/*---------------------
 	Newsletter Section
---------------------*/

.newsletter{
	background-color: #dcdcdc;
    color:#000000;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction:column;
}


.newsletter form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 80%;
}

.newsletter form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.newsletter form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.newsletter form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}


/*---------------------
 	Adhérents Section
---------------------*/
.adherents{
	background-color: #dcdcdc;
}

.adherents .grid li{
	padding: 20px;
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #d860b0;
}

/*pour l'instant, .grid li .grid li h4 et .grid li p en css identique à la classe accueil :*/
.adherents  .grid li{
	padding: 0 30px;
	text-align: center;
}

.adherents  .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.adherents  .grid li p{
    margin: 0;
}


.adherents .grid li.small{
	flex-basis: 40%;
}

.adherents .grid li.medium{
	flex-basis: 50%;
}

.adherents .grid li.large{
	flex-basis: 60%;
}

.adherents .grid li.full{
	flex-basis: 100%;
}

 .adherents .grid li img {
	 width:100%;
}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
}

footer ul{
	display: flex;
	margin: 0 auto;
}

footer ul li{
	margin: 0 3vw;
}
footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}
@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
.controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #deac94;
}


button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #deac94;

  -webkit-backface-visibility: hidden;
}

.mixitup img{
    margin-bottom: 35px;
    margin-left: 40px;
    width: 200px;
    height: 100px;

}
.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  background: #dcdcdc;
  margin-bottom: 2%;
  display: none;
}

.container .mix.category-1{
  border-top: 2px solid #eb3398;
}

.container .mix.category-2{
  border-top: 2px solid yellow;
}

.container .mix.category-3{
  border-top: 2px solid pink;
}
.container .mix::after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix::before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}
footer {
	width: 100%;
	height: 50px;
}
